# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Mvc5TipsAndTricks/artifacts/obj/Web/Debug/ProjectRawReferences
/ContinuousDelivery/~$Continuous Delivery.pptx
/Mvc5TipsAndTricks/obj/Debug
/Mvc5TipsAndTricks/packages
/Mvc5TipsAndTricks/Web/Web/bin
/Mvc5TipsAndTricks/Web/Web/App_Data
/Mvc5TipsAndTricks/Web/Web/obj/Debug
